.audiobg{
    background-color: blue !important;
}

.audio{
    background-color: red !important;
}

.poppover{
    background-color: red !important;
    height: 2em;
    width: 2em;
}

.popover-inner {
    padding: 10px;
    background-color: white; /* Set a background color if it's transparent */
    border-radius: 4px; /* Add border radius for a rounded look */
}

.popover-arrow {
    border-color: transparent transparent transparent #000; /* Ensure arrow is visible */
}

.popover-class{
    background-color: red !important;
    color: black !important;
}