#live-view {
    width: 50vw;
    border-left: 1px solid grey !important;
    background-color: #fff;
    overflow-y: scroll;
}

.live-view-header {
    height: 2.45em;
    background-color: var(--header-color);
    color: #fff;
}

.live-view-html {
    /* background-color: #333 !important; */
    height: 92.5%;
}

.footer{
    background-color: #333 !important;
    color: white;
}

.character{
    font-size: 2em;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.dialogue{
    font-size: 1.25em;
    margin-left: 1em;
    font-family: 'Courier New', Courier, monospace;
}

.sd-dialogue{
    font-style: italic;
    font-size: 1.25em;
    font-family: 'Courier New', Courier, monospace;
    margin: 0em;
}
.stage-direction{
    margin-left: 1em;
}

p{
    margin-bottom: 0em !important;
}
